<div>
    <span class="border border-primary">sophistock</span>
</div>
<div class='post-container'>
    <script>
        var page = 1; 
        appendPosts(page);
    </script>
    <ul class='posts'>
    </ul>
</div>
<span class='btn btn-primary' onClick="{ page += 1;
                                         appendPosts(page);}">もっと読む</span>