<div class='screen users-me' style='padding-top: 60px; padding-bottom: 50px;'>
    <%= render '/layouts/header' %>
    <div class='content'>
        <span><%= @current_user.name %></span>
        <span class='mb-3'><%= @current_user.posts.count %> posts</span>
        <div class='nav-bar'>
            <a href="#">
                <div class="nav-item posts">投稿</div>
            </a>
            <a href="#">
                <div class="nav-item profile active">プロフィール</div>
            </a>
            <a href="#">
                <div class="nav-item comment">コメント</div>
            </a>
            <a href="#">
                <div class="nav-item good">いいね</div>
            </a>
        </div>
        <h3 class='mt-3'>自己紹介</h3>
        <p></p>
    </div>
    <%= render '/layouts/footer' %>
</div>