.screen {
    width: 100vw;
    height: 100vh;
    overflow: auto;
	-webkit-overflow-scrolling: touch;
}
input[type="text"], [type="email"], [type="password"] {
	border-radius: 5px;
	border: 1px solid black;
}
input[type="checkbox"] {
	background-color: white;
	border-radius: 2px;
}

$main-color: #693B9D;
$light-color: #A183C3;
$minor-color: #79589F;

.btn-primary {
    background: $minor-color; 
    color: #ffffff;
    border: none;
}
.btn-maincolor {
    background: $main-color;
    color: #ffffff;
    border: none;
}