/*
@media screen and (orientation: portrait) {
	/* 縦向きの場合のスタイル
	img {width: 25%;}
}
@media screen and (orientation: landscape) {
   /* 横向きの場合のスタイル
   img {width: 10%;}
}
*/

div.screen.top {
	display: flex;
	flex-direction: column;
	padding: 5px;
	background-color: #EEEEEE;

	.top-picture {
		display: flex;
		flex-direction: column;
		flex: 1;
		text-align: center;
		height: 100px;
		object-fit: cover;
	}

	.login_body {
		display: flex;

		.form_all{
			width: 80%;
			max-width: 400px;
			margin: 0 auto;

			input {
				width: 100%;
			}

			.autolog {
				margin-bottom: 10px;
				text-align: center;
				margin-top: 5px;

				#auto_login {
					width: 16px;
					height: 16px;
				}
				label, input[type="checkbox"] {
					cursor: pointer;
				}
			}

			.forget {
				margin-top: 10px;
			}
		}

		.register {
    		position: fixed;
    		bottom: 0;
    		width: 100%;
    		height: 40px;
    		text-align: center;
		}
		
	}
}
