div.screen.timeline-all {
	.article {
		position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
		font-size: 1.2em;
		color: white; 
		background-color: $maincolor;
		text-align: center;
		padding-bottom: 10.5px;
		padding-top: 10.5px;
	}
	.posts {
		list-style: none;
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 1.2em;
		display: flex;
        flex-direction: column;
        padding: 10px;
		li  {
			padding-top: 8px;
			padding-bottom: 8px;
			a {
				text-decoration:none;
			}
			.title {
			}
			.content {
				padding: 2px;
			}
			.bonus {
				font-size: 0.8em;
				padding: 2px;
			}
		}
	}
}