div.screen.edit_screen {
    .content {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .nav-bar {
        margin: 0 auto;
        width: 100%;
        display: flex;
        a {
            text-decoration: none;
            padding: 0;
            width: 25%;
            div {
                text-align: center;
                padding: 6px 0;
                color: black;
                border: 1px solid #CCCCCC;
                background-color: white;
                font-weight: 700;
                font-size: 13px;
                &.active {
                    background-color: $maincolor;
                    color: white;
                }
                &.posts {
                    border-radius: 5px 0 0 5px;
                }
                &.good {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
    .form {
        textarea {
            box-sizing: border-box;
            width: 100%;
            min-height: 150px;
            border-radius: 5px;
            padding: 8px;
            font-size: 1em;
            border-style: none;
        }
        .btn {
            border-radius: 5px;
            padding: 6px;
            border-width: 1px;
            height: 38px;
            font-size: 16px;
            cursor: pointer;
            color: white;
            background-color: $maincolor;
        }
    }
}