div.component.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	font-size: 1.2em;
	color: white; 
	background-color: $maincolor;
	text-align: center;
	padding-bottom: 10.5px;
	padding-top: 10.5px;
}