<div class='component footer'>
	<a href="/timeline">
		<div class="timeline">
			<%= image_tag("footer/timeline.svg", alt: "title") %>
			<p class="mt-0 mb-0">タイムライン</p>
		</div>
	</a>
	<a href="#">
		<div class="ranking">
			<%= image_tag("footer/ranking.svg", alt: "title") %>
			<p class="mt-0 mb-0">ランキング</p>
		</div>
	</a>
	<a href="/posts/new">
		<div class="post">
			<%= image_tag("footer/post.svg", alt: "title") %>
			<p class="mt-0 mb-0">投稿</p>
		</div>
	</a>
	<a href="/users/me">
		<div class="profile">
			<%= image_tag("footer/profile.svg", alt: "title") %>
			<p class="mt-0 mb-0">プロフィール</p>
		</div>
	</a>
</div>