<div class='component footer'>
	<a href="#">
		<div class="timeline">
			<%= image_tag("footer/svg/timeline.svg", alt: "title") %>
			<p class="mt-0 mb-0">タイムライン</p>
		</div>
	</a>
	<a href="#">
		<div class="ranking">
			<%= image_tag("footer/svg/ranking.svg", alt: "title") %>
			<p class="mt-0 mb-0">ランキング</p>
		</div>
	</a>
	<a href="#">
		<div class="post">
			<%= image_tag("footer/svg/post.svg", alt: "title") %>
			<p class="mt-0 mb-0">投稿</p>
		</div>
	</a>
	<a href="#">
		<div class="profile">
			<%= image_tag("footer/svg/profile.svg", alt: "title") %>
			<p class="mt-0 mb-0">プロフィール</p>
		</div>
	</a>
</div>