<div class='component header'>
	<div class="back">
		<%= link_to :back do %>
			<%= image_tag("header/back.svg", alt: "back") %>戻る
		<% end %>
	</div>
	<div class="top-name">
		<%= yield :top %>
	</div>
	<div class="edit">
	</div>
</div>